.aaa {
    height: 300px;
    width: 400px;
    background-color: rgb(241, 227, 24);
    overflow: hidden;
}
.bbb {
    height: 300px;
    width: 600px;
    background-color: rgb(202, 65, 24);
    overflow: scroll;
}